/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    /* --- Colors --- */
    --white: #fff;
    --black: #000;
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsla(229, 57%, 11%);
    --gradient: linear-gradient(45deg,hsl(6, 100%, 80%), hsl(335, 100%, 65%));

    /* --- Fonts --- */
    --ff-primary: 'Raleway', sans-serif;
}

/* --- base style --- */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 14px;
}
body{
    color: var(--white);
    font-family: var(--ff-primary);
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
    background: none;
    border: none;
}

.container{
    background-image: url("./images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-container,
.storage-container{
    box-shadow: 12px 10px 30px -11px rgba(0,0,0,0.24);
    background-color: var(--dark-blue);
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    margin: 10px;
}

.action-container{
    border-top-right-radius: 100px;
    height: 200px;
}

.logo-container{
    margin-bottom: 2.5rem;
}

.icons{
    display: flex;
}

.icon-container{
    margin-right: 1rem;
    width: 50px;
    height: 50px;
    border-radius: .8rem;
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.storage-container{
    padding-top: 30px;
    position: relative;
}

.storage-description{
    opacity: .75;
    text-align: center;
}

.storage-description span{
    font-weight: 700;
}

.usage-bar{
    background-color: var(--very-dark-blue);
    border-radius: 10px;
    border: 2.5px solid var(--very-dark-blue);
    height: 20px;
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    margin: 10px 10px 7px 0px;
}

.storage-used{
    background-image: var(--gradient);
    height: 100%;
    width: 75%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.5px;
}

.indicator{
    background-color: var(--white);
    height: 9px;
    width: 9px;
    border-radius: 50%;
}

.storage-indicators{
    display: flex;
    justify-content: space-between;
}
.storage-indicators span{
    font-size: 12px;
}

.storage-left{
    position: absolute;
    left: 20%;
    background-color: var(--white);
    color: var(--grayish-blue);
    padding: 1rem 1.5rem;
    border-radius: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px;
}
.storage-left p{
    vertical-align: middle;
    font-size: 40px;
    font-weight: 600;
    color: var(--black);
}
.storage-left span{
    color: var(--grayish-blue);
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (min-width: 900px){
    .container{
        background-image: url(./images/bg-desktop.png);
        background-size: contain;
        background-position: center 100%;
        background-color: var(--very-dark-blue);
        flex-direction: row;
    }

    .storage-container{
        width: 600px;
        height: 160px;
        padding-top: 45px;
        top: 20px;
    }

    .storage-description{
        text-align: left;
    }

    .storage-left{
        top: -35%;
        left: initial;
        right: 5%;
        border-bottom-right-radius: 0;
    }

    .storage-left::after{
        content: '';
        width: 20px;
        height: 20px;
        background-image: linear-gradient(45deg, var(--dark-blue) 50%, white 50%);
        position: absolute;
        bottom: -20px;
        right: 0;
    }
}